<debug value="users"></debug>

<div class="row">
    <h2 class="col-md-11">Users</h2>
    <a class="btn btn-primary pull-right btn-create" href="/#/users/create" role="button">New</a>
</div>
<div ng-if="users.length === 0">
    <h3>There are no users. But you can create a <a href="/#/users/create">new</a> one!</h3>
</div>
<div ng-if="users.length > 0" class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Email</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Date of birth</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.email}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.dateOfBirth | date:'dd.MM.yyyy'}}</td>
                <td><button type="button" class="btn btn-default btn-xs" ng-click="showUser(user.id)">View</button></td>
            </tr>
        </tbody>
    </table>
</div>
