<debug value="users"></debug>

<div class="row">
    <h2 class="col-md-11">Users</h2>
    <a class="btn btn-primary pull-right btn-create" href="/#/users/create" role="button">New</a>
</div>
<div ng-if="users.length === 0">
    <h3>There are no users. But you can create a <a href="/#/users/create">new</a> one!</h3>
</div>
<div ng-if="users.length > 0" class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-md-3">Email</th>
                <th class="col-md-3">Firstname</th>
                <th class="col-md-3">Lastname</th>
                <th class="col-md-2">Date of birth</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.email}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.dateOfBirth | date:'dd.MM.yyyy'}}</td>
                <td>
                    <a role="button" class="glyphicon glyphicon-eye-open" ng-click="showUser(user.id)" title="View"></a>
                    <a role="button" class="glyphicon glyphicon-edit" href="/#/users/update/{{user.id}}" title="Edit"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
